<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:postgresql://localhost:5432/dbappdel</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>pwname</param-name>
        <param-value>1234</param-value>
    </context-param>
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>del.servlet.SLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLogin_users</servlet-name>
        <servlet-class>del.servlet.SLogin_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarsesion_users</servlet-name>
        <servlet-class>del.servlet.SCerrarsesion_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrar</servlet-name>
        <servlet-class>del.servlet.SRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOptener_crimenes</servlet-name>
        <servlet-class>del.servlet.SOptener_crimenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOptener_cifras</servlet-name>
        <servlet-class>del.servlet.SOptener_cifras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_robo</servlet-name>
        <servlet-class>del.servlet.SCifras_robo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_total_crimen</servlet-name>
        <servlet-class>del.servlet.SCifras_total_crimen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_total_mes</servlet-name>
        <servlet-class>del.servlet.SCifras_total_mes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOptener_densidad</servlet-name>
        <servlet-class>del.servlet.SOptener_densidad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLogin_users</servlet-name>
        <url-pattern>/SLogin_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarsesion_users</servlet-name>
        <url-pattern>/SCerrarsesion_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrar</servlet-name>
        <url-pattern>/SRegistrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOptener_crimenes</servlet-name>
        <url-pattern>/SOptener_crimenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOptener_cifras</servlet-name>
        <url-pattern>/SOptener_cifras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_robo</servlet-name>
        <url-pattern>/SCifras_robo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_total_crimen</servlet-name>
        <url-pattern>/SCifras_total_crimen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_total_mes</servlet-name>
        <url-pattern>/SCifras_total_mes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOptener_densidad</servlet-name>
        <url-pattern>/SOptener_densidad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
