<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:postgresql://localhost:5432/dbappdel</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>pwname</param-name>
        <param-value>1234</param-value>
    </context-param>
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>del.servlet.SLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLogin_users</servlet-name>
        <servlet-class>del.servlet.SLogin_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarsesion_users</servlet-name>
        <servlet-class>del.servlet.SCerrarsesion_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrar</servlet-name>
        <servlet-class>del.servlet.SRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SObtener_crimenes</servlet-name>
        <servlet-class>del.servlet.SObtener_crimenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SObtener_densidad</servlet-name>
        <servlet-class>del.servlet.SObtener_densidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_robo</servlet-name>
        <servlet-class>del.servlet.SCifras_robo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_total_crimen</servlet-name>
        <servlet-class>del.servlet.SCifras_total_crimen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_total_mes</servlet-name>
        <servlet-class>del.servlet.SCifras_total_mes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOptener_densidad</servlet-name>
        <servlet-class>del.servlet.SObtener_densidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrar_puntos_vigilancia</servlet-name>
        <servlet-class>del.servlet.SRegistrar_puntos_vigilancia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SObtener_Puntos_vigilancia</servlet-name>
        <servlet-class>del.servlet.SObtener_Puntos_vigilancia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SObtener_puntos_vigilancia</servlet-name>
        <servlet-class>del.servlet.SObtener_puntos_vigilancia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrar_puntos_critico</servlet-name>
        <servlet-class>del.servlet.SRegistrar_puntos_critico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SObtener_puntos_critico</servlet-name>
        <servlet-class>del.servlet.SObtener_puntos_critico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_agresion</servlet-name>
        <servlet-class>del.servlet.SCifras_agresion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_accidente</servlet-name>
        <servlet-class>del.servlet.SCifras_accidente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_otros_incidentes</servlet-name>
        <servlet-class>del.servlet.SCifras_otros_incidentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scifras_violencia_familiar</servlet-name>
        <servlet-class>del.servlet.Scifras_violencia_familiar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCifras_violencia_familiar</servlet-name>
        <servlet-class>del.servlet.SCifras_violencia_familiar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SActualizar_incidente</servlet-name>
        <servlet-class>del.servlet.SActualizar_incidente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SObtener_crimen_administrar</servlet-name>
        <servlet-class>del.servlet.SObtener_crimen_administrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLogin_users</servlet-name>
        <url-pattern>/SLogin_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarsesion_users</servlet-name>
        <url-pattern>/SCerrarsesion_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrar</servlet-name>
        <url-pattern>/SRegistrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SObtener_crimenes</servlet-name>
        <url-pattern>/SObtener_crimenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SObtener_densidad</servlet-name>
        <url-pattern>/SObtener_densidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_robo</servlet-name>
        <url-pattern>/SCifras_robo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_total_crimen</servlet-name>
        <url-pattern>/SCifras_total_crimen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_total_mes</servlet-name>
        <url-pattern>/SCifras_total_mes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOptener_densidad</servlet-name>
        <url-pattern>/SOptener_densidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrar_puntos_vigilancia</servlet-name>
        <url-pattern>/SRegistrar_puntos_vigilancia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SObtener_Puntos_vigilancia</servlet-name>
        <url-pattern>/SObtener_Puntos_vigilancia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SObtener_puntos_vigilancia</servlet-name>
        <url-pattern>/SObtener_puntos_vigilancia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrar_puntos_critico</servlet-name>
        <url-pattern>/SRegistrar_puntos_critico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SObtener_puntos_critico</servlet-name>
        <url-pattern>/SObtener_puntos_critico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_agresion</servlet-name>
        <url-pattern>/SCifras_agresion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_accidente</servlet-name>
        <url-pattern>/SCifras_accidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_otros_incidentes</servlet-name>
        <url-pattern>/SCifras_otros_incidentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scifras_violencia_familiar</servlet-name>
        <url-pattern>/Scifras_violencia_familiar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCifras_violencia_familiar</servlet-name>
        <url-pattern>/SCifras_violencia_familiar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SActualizar_incidente</servlet-name>
        <url-pattern>/SActualizar_incidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SObtener_crimen_administrar</servlet-name>
        <url-pattern>/SObtener_crimen_administrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
